<div class="modal fade" id="createAuthorModal" tabindex="-1" aria-labelledby="createAuthorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">    
          <h5 class="modal-title" id="createAuthorModalLabel">{{ author.id === 0 ? 'Cadastro de Autor' : 'Edição de Autor' }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="authorCode" class="form-label">Código</label>
              <input type="text" class="form-control" id="authorCode" [(ngModel)]="author.authorCode" mask="00000000" name="authorCode" required>
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Nome</label>
              <input type="text" class="form-control" id="title" [(ngModel)]="author.name" name="title" required maxlength="50">
            </div>           
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary"  (click)="saveAuthor()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  